@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overlock+SC&display=swap');

@font-face {
  font-family: 'freshman';
  src: local('freshman'),
       url('../freshman/Freshman.woff') format("truetype");
}

@media screen and (min-width: 320px){
    .box{
        margin: 0 50px 0 50px;
    }
    .product-listing{
        margin: 0 100px 0 100px;
        display: table;
    }
}

@media screen and  (min-width: 361px){
    .box{
        margin: 0 50px 0 50px;
    }
    .product-listing{
        margin: 0 100px 0 100px;
        display: table;
    }
}
@media screen and (min-width: 992px){
    .box{
        margin: 0 50px 0 50px;
    }
    .product-listing{
        margin: 0 150px 0 150px;
        display: table;
    }
}
@media screen and (min-width: 1200px) {
    .box{
        margin: 0 150px 0 150px;
    }
    .product-listing{
        margin: 0 150px 0 150px;
        display: table;
    }
}

.main-container{
    width: 100%;
    min-height: 40.6rem;
    padding-top: 150px;
}
.page-container{
    width: 100%;
    min-height: 85vh;
    padding-top: 100px;
}
body{
    font-family: 'Oxygen', sans-serif;
    overflow-x:hidden;
}
.button-div{
    margin-top: 30px;
}
.buy-now{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background: #27ae60;
    width: 220px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
}
.div1-title{
    font-family: 'Overlock SC', cursive;
    font-size: 44px;
}
.main-left{
    padding: 100px 0 0 100px;
}
.official{
    font-family: 'Poiret One', cursive;
    font-size: 36px;
}
.div1-right-image{
    width: 30rem;
    height: 50rem;
    position: absolute;
    right: 0rem;
    top: 0rem;
    z-index: -1;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    padding: 0px;
}
.product-layout{
    margin: 0 10px 0 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.product-card{
    margin-bottom: 40px;
    padding: 5px;
    cursor: pointer;
    width: 350px !important;
    height: 400px;
    overflow: hidden;
}
.details-flex{
    display: flex;
    width: 100%;
}
.card-product-amount{
    width: 50%;
    text-align: right;
}
.card-image{
    width: 100%;
}
.card-details-container{
    padding: 10px 0px;
    display: flex;
}
.middle-div{
    width: 100%;
    height: 12rem;
    margin-top: 70px;
    background: #f5f6fa;
    font-family: 'Bangers', cursive;
    font-size: 46px;
    justify-content: center;
    text-align: center;
    line-height: 200px;
    overflow: hidden;
}
.middle-div p{
    width: 100%;
    display: inline-block;
    vertical-align:middle;
    line-height: 1.5;
}
.card-product-name{
    font-weight: bold;
    font-size: 18px;
    width: 50%;
}

.remove-button{
    background: #c0392b;
    font-family: 'Bangers', cursive;
    padding: 5px;
    width: 80px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
}
.remove-button:hover{
    box-shadow: 0 5px 20px rgba(2, 0, 0, 0.3);
}

.sample-image{
    cursor: pointer;
    width: 100%;
    height: 600px;
}

.sample-rect-image{
    width: 100%;
    height: 295px;
    cursor: pointer;
}

.sample-square-image{
    width: 100%;
    cursor: pointer;
    height: 295px;
}
.sample-square-image:hover{

}
.selected-color{
    border: 2px solid  rgba(0, 0, 0, 1) !important;
    zoom: 120%;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.selected-size{
    border: 2px solid  rgba(0, 0, 0, 1) !important;
    zoom: 120%;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.line {
  margin:15px 0;
  height:2px;
  width: 48%;
  background:
    repeating-linear-gradient(to right,#a7a9ac 0,#a7a9ac 10px,transparent 10px,transparent 12px)
    /*10px red then 2px transparent -> repeat this!*/
}

.delivery-partner-icon{
    width: 80px;
}