.section-div{
    min-height: 50px;
    width: 80%;
    margin-bottom: 20px;
}
.section-heading{
    width: 100%;
    margin-top: 30px;
    font-family: 'Bangers', cursive;
    font-size: 32px;
    text-align: left;
    overflow: hidden;
}
.section-div p{
    width: 100%;
}
.order-card{
    margin: 10px;
    display: flex;
    min-height: 150px;
}
.order-card-1{
    border: 1px solid #212121;
    width: 80%;
    padding: 10px;
    font-size: 18px;
}
.order-card-2{
    border-right: 1px solid #212121;
    border-top: 1px solid #212121;
    border-bottom: 1px solid #212121;
    width: 20%;
    padding: 10px;
    font-size: 18px;
}