.button-image{
    width: 100px;
    height: 100px;
}
.product-view{
    display: flex;
}
.product-image{
    width: 350px;
    height: 350px;
    overflow: hidden;
}
.product-view-image{
    width: 100%;
    height: 100%;
}
.product-view-left{
    width: 50%;
    text-align: center;
}
.product-view-right{
    width: 35%;
    display: grid;
}
.product-title{
    font-size: 26px;
    display: flex;
}
.product-title p:first-child{
    width: 50%;
    font-weight: bold;
}
.product-title p:nth-child(2){
    font-size: 32px;
    width: 50%;
    text-align:right;
    font-family: 'Bangers', cursive !important;
}
.product-description{
    font-size: 18px;
    margin-top: 10px;
}
.product-buttons{
    display: flex;
    width: 75%;
}
.button-div{
    margin-right:30px;
    margin-top: 30px;
}
.form-label{
    display: flex;
    padding: 5px;
    margin-right: 33px;
}
.label{
    width: 30%;
    font-size: 20px;
}
.dropdown{
    padding: 5px;
    border: 1px solid #212121;
    width: 120px;
    font-size: 16px;
    background: #ffffff;
}
.estimated-delivery{
    font-size: 20px;
    font-weight: bold;
    display: flex;
}
.estimated-delivery p{
    font-size: 18px;
    font-weight: normal;
}