{% extends 'global/header.html' %}
{% load staticfiles %}
{% load static %}

<html lang="en">
    <head >
        <meta charset="UTF-8">
        <title>FanKrate</title>
    </head>
    {% block body_block %}
    <body onload="submitPayuForm()">

    </body>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <script type="text/javascript">
        var hash = "{{ hashh }}";
        function submitPayuForm() {
          if(hash =='') {
            return;
          }
          var payuForm = document.forms.payuForm;
          payuForm.submit();
        }
        function shippingCharges(method){
            if (method == 'online'){
                var total_price = "{{total_price}}"
                var shipping = "{{shipping}}"
                var amount=document.getElementsByName("amount");
                var total= parseFloat(total_price) + parseFloat(shipping);
                amount.value = total;
                document.getElementById("amount").value= total;
                document.getElementById("total_payable").innerHTML= "Rs. "+total;
                document.getElementById("shipping").innerHTML= "Rs. "+shipping;
                document.getElementById("pay").innerHTML= "Pay Now";
                document.forms[0].action = "#";
            }
            else if (method == 'cod'){
                var total_price = "{{total_price}}"
                var shipping = 100.0
                var amount=document.getElementsByName("amount");
                var total= parseFloat(total_price) + parseFloat(shipping);
                amount.value = total;
                document.getElementById("amount").value= total;
                document.getElementById("total_payable").innerHTML= "Rs. "+total;
                document.getElementById("shipping").innerHTML= "Rs. "+shipping;
                document.getElementById("pay").innerHTML= "Confirm Order";
                document.forms[0].action = "cod/";
            }
        }
    </script>
        <div class="page-container">
            <div class="box" style="display: flex">
                <div style="width: 60%; color: #292b2c;">
                    <div style="width: 100%; display:flex;font-weight: bold;padding: 10px; border-radius: 10px;">
                        <div style="text-align:left; width: 48%;">
                            Items ({{total_quantity}})
                        </div>
                        <div style="text-align:right; width: 50%;">
                            Total Payable <span id="total_payable" style="color: #27ae60;font-size: 20px;">Rs. {{ total_price }}</span>
                        </div>
                    </div>

                    <div style="margin-top: 5px;padding: 10px; border: 1px dashed #eee;">
                        <div style="font-size:16px;color: #a7a9ac;margin: 0 0 10px 0;">
                            <b>BILLING DETAILS</b>
                        </div>
                        <table style="width:100%;">
                              <tr >
                                <td >Actual Price</td>
                                <td style="float: right;">Rs. {{actual_total}}</td>
                              </tr>
                              <tr>
                                <td>GST</td>
                                <td style="float: right;">Rs. {{internet_charges}}</td>
                              </tr>
                              <tr>
                                <td>Shipping Charges</td>
                                <td id="shipping" style="float: right;">Rs. {{shipping}}</td>
                              </tr>
                              <tr>
                                  <td><span style="color: #2980b9;font-weight:bold;">Discount</span></td>
                                <td style="float: right;"><span style="color: #2980b9;font-weight:bold;">Rs. {{savings}}
                                </span>
                                </td>
                              </tr>
                        </table>
                    </div>

                    <div style="margin-top: 10px; color: #292b2c;">
                        <div>
                            {% for item in display_item_array %}
                                <div style="border: 1px solid #eee;margin-bottom:5px;padding: 10px;
                                display:flex;position:relative;">
                                    <div>
                                        <img src="{% static item.image %}" class="cart-product-image">
                                    </div>
                                    <div style="padding: 10px;display:flex;width:69%;">
                                        <div style="width: 70%;position: relative;">
                                            <b>
                                                {{item.name}}
                                            </b>
                                            <div style="display: flex; margin-top: 25px;">
                                                <div style="margin-right: 20px;">
                                                    Size: {{item.size }}
                                                </div>
                                                <div style="margin-right: 20px;">
                                                    Qty: {{item.quantity }}
    <!--                                                <select>-->
    <!--                                                    {% for i in '123456789'|make_list %}-->
    <!--                                                        <option-->
    <!--                                                                {% if item.quantity == forloop.counter %}-->
    <!--                                                                selected-->
    <!--                                                                {% endif %}>-->
    <!--                                                            {{ i }}-->
    <!--                                                        </option>-->
    <!--                                                    {% endfor %}-->
    <!--                                                </select>-->
                                                </div>
                                                <div>
                                                    Colour: {{item.colour }}
                                                </div>
                                            </div>
                                            <div style="bottom: 10px;position:absolute;">
                                                <a href="/cart/remove?item={{item.id}}">
                                                    <button style="cursor:pointer;background: white;
                                                    border:1px solid #ccc;outline:none;
                                                    padding: 10px;border-radius: 10px;font-size: 11px;width: 100px;"
                                                            type="submit" >REMOVE</button>
                                                </a>
                                            </div>
                                        </div>
                                        <div style="width: 50%;text-align:right;">
                                            <b>
                                                Rs. {% widthratio item.price item.quantity 1 %}
                                                {% if item.quantity > 1%}
                                                    X {{item.quantity}}
                                                {% endif %}
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div style="width: 40%">
                    <div style="margin-top: 50px;margin-left: 10px;padding: 10px; border: 1px dashed #eee;">
                        <div style="font-size:16px;color: #a7a9ac;margin: 0 0 10px 0;">
                            <b>PAYMENT METHOD</b>
                        </div>
                        <div>
                            <input onchange="shippingCharges(this.value)" type="radio" name="gender" value="online" checked> Online<br>
<!--                            <input onchange="shippingCharges(this.value)" type="radio" name="gender" value="pod"> Pay Half on Delivery + Rs. 50 Shipping charges<br>-->
                            <input onchange="shippingCharges(this.value)" type="radio" name="gender" value="cod"> Cash on Delivery (COD) + Rs. 100 Shipping charges
                        </div>
                    </div>
                    <div style="margin-top: 10px;margin-left: 10px;padding: 10px; border: 1px dashed #eee;">
                        <div style="font-size:16px;color: #a7a9ac;margin: 0 0 10px 0;">
                            <b>ADDRESS DETAILS</b>
                        </div>
                        <form action="{{ action }}" method="post" name="payuForm">
                            {% csrf_token %}
                            <input type="hidden" name="service_provider" value="payu_paisa" size="64" />
                            <input type="hidden" name="key" value="{{ MERCHANT_KEY }}" />
                            <input type="hidden" name="hash_string" value="{{ hash_string }}" />
                            <input type="hidden" name="hash" value="{{ hashh }}"/>
                            <input type="hidden" name="posted" value="{{ posted }}"/>
                            <input type="hidden" name="txnid" value="{{ txnid }}" />
                            <input type="hidden" name="udf1" value="{{ posted.udf1|default:udf1 }}" />
                            <input type="hidden" name="udf2" value="{{ posted.udf2|default:udf2 }}" />
                            <input type="hidden" name="surl" value="{{ posted.sur|default:surl }}" size="64" />
                            <input type="hidden" name="furl" value="{{ posted.furl|default:furl }}" size="64" />
                            <input type="hidden" id="amount" name="amount" value="{{ posted.amount|default:total_price }}" />
                            <input type="hidden" name="productinfo" value="{{ posted.productinfo|default:all_products }}" />
                            <div style="padding: 2px;">
                                <input required name="firstname" id="firstname"
                                       value="{{posted.firstname|default:request.user.name}}"
                                       placeholder="Name" class="input-field"/>
                            </div>
                            <div style="padding: 2px;">
                                <input required class="input-field" autocomplete="off" name="email" id="email" value="{{posted.email|default:email}}"
                                   placeholder="Email" />
                            </div>
                            <div style="padding: 2px;">
                                <input required class="input-field" autocomplete="off" name="phone" value="{{ posted.phone|default:request.user.mobile }}" />
                            </div>
                            <div style="padding: 2px;">
                                <input autocomplete="off" required class="input-field" name="address1" value="{{ posted.address1 }}"
                                       placeholder="D.No, Street name" />
                            </div>
                            <div style="padding: 2px;">
                                <input required class="input-field" name="address2" value="{{ posted.address2 }}" placeholder="Landmark" />
                            </div>
                            <div style="padding: 2px;">
                                <input autocomplete="off" required class="input-field" name="city" value="{{ posted.city }}" placeholder="City" />
                            </div>
                            <div style="padding: 2px;">
                                <input autocomplete="off" required class="input-field" name="state" value="{{ posted.state }}"
                                placeholder="State"/>
                            </div>
                            <div style="padding: 2px;">
                                <input autocomplete="off" required class="input-field" name="zipcode" value="{{ posted.zipcode }}" placeholder="Pincode" />
                            </div>
                            <div style="margin: 20px 0;">
                                <button id="pay" class="buy-now" type="submit" value="Sign In">PAY NOW</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</html>