<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/body.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/Color-logo.png' %}"/>
    <title>FanKrate - Merchandise and much more</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56490820-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-56490820-2');
    </script>

</head>

    <header style="z-index:999;position: fixed;width: 100%;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);">
        <div class="global-header">
            <div>
                <a href="/" style="margin-left: 60px;">
                    <img src="{% static 'images/Color-logo.png' %}" class="header-logo">
                </a>
            </div>
            <div class="header-nav">
                <div style="position: relative;margin-right:140px;">
                    {% if user.is_admin %}
                        <a class="link" href="/product_management">Product Management</a>
                        <a class="link" href="/order_management">Order Management</a>
                    {% endif %}
                    {% if user.is_active %}
                        <a class="link" href="/orders">Orders</a>
                        <a class="link" href="/logout">Log out</a>
                    {% else %}
                        <a class="link" href="/login">Log in</a>
                        <a class="link" href="/signup">Sign up</a>
                    {% endif %}
                </div>
            </div>
            {% if user.is_active %}
            <a href="/cart">
                <img src="{% static 'images/cart-1.svg' %}" style="z-index: 90" class="cart-icon">
                <div style="position:absolute;right: 60px;top:10px;background:#9b59b6;
                padding: 5px;border-radius: 60px;width: 30px;text-align:center;color:white;height: 30px;z-index: 9">
                    <div style="margin-top:5px;">{{no_of_items}}</div>
                </div>
            </a>
            {% else %}
             <a href="/login">
                <img src="{% static 'images/cart-1.svg' %}" class="cart-icon">
            </a>
            {% endif %}
        </div>
    </header>
    {% block body_block %}

    {% endblock %}
    <footer style="bottom:0;">
        <div class="global-footer" >
            <div class="box">
<!--                <i class="fa fa-refresh" aria-hidden="true" style="margin-right: 5px;"></i>-->
<!--                7 Day Easy Returns-->
                <div style="margin-top: 50px;width: 100%;">
                    <div style="display:flex;bottom: 20px;">
                        <div style="display:flex;margin-top:8px;width: 49%;">
                            <div style="margin-right: 10px;">
                                100% Secure Payment:
                            </div>
                            <div>
                                <img src="{% static 'images/payumoney.jpg' %}" class="delivery-partner-icon">
                                <img src="{% static 'images/cod.png' %}" style="width: 60px;margin-left:10px;">
                            </div>
                        </div>
                        <div style="display:flex;width: 51%;justify-content: flex-end;">
                            <div style="margin-right: 10px;margin-top: 10px;">
                                Shipping Partners:
                            </div>
                            <div>
                                <img src="{% static 'images/delhivery.png' %}" class="delivery-partner-icon" style="margin-left:10px;">
                                <img src="{% static 'images/fedex.png' %}" class="delivery-partner-icon" style="margin-left:10px;">
                                <img src="{% static 'images/ecom-express.svg' %}" style="width: 45px;margin-left:10px;">
                                <img src="{% static 'images/xpressbees.png' %}" style="width: 45px;margin-left:10px;">
                            </div>
                        </div>
                    </div>
                    <div style="margin-bottom: 20px;text-align:center;margin-top: 20px;">
                        &#9400; FanKrate 2019 - 20
                    </div>
                </div>
            </div>
        </div>
    </footer>




</html>