<!DOCTYPE html>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/partner.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/Color-logo.ico' %}"/>
    <title>FanKrate - {{partner_name}} Dashboard</title>
</head>

    <div class="partner-header">
        <div class="partner-header-nav">
            <div>
                <a href="/">
                    <img src="{% static 'images/partner/home.svg' %}" class="partner-nav-image">
                </a>
            </div>
            <div class="partner-nav-links">
                <div class="partner-nav-button">
                    <img src="{% static 'images/partner/pie.svg' %}" class="partner-nav-image">
                </div>
                <div class="partner-nav-button">
                    <img src="{% static 'images/partner/order.svg' %}" class="partner-nav-image">
                </div>
                <div class="partner-nav-button">
                    <img src="{% static 'images/partner/tshirt.svg' %}" class="partner-nav-image">
                </div>
                <div class="partner-nav-button">
                    <img src="{% static 'images/partner/credit-card.svg' %}" class="partner-nav-image">
                </div>
                <div class="partner-nav-button">
                    <img src="{% static 'images/partner/resume.svg' %}" class="partner-nav-image">
                </div>
            </div>
        </div>
    </div>


    {% block body_block %}

    {% endblock %}

</html>