{% extends 'global/header.html' %}

{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FanKrate</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">

        <div class="page-container">
            <div class="box">
                <div style="margin-bottom: 50px;position:relative;z-index:0;">
                    <div style="width: 100%;
                    text-align:center;margin: 0px 0 20px 0;font-size:24px;display:flex;">
                        <div class="line">

                        </div>
                        <div style="width:25%;color: #58595b;">
                            <b>
                                PRODUCTS
                            </b>
                        </div>
                        <div class="line" >

                        </div>
                    </div>
                    <div style="width:100%;display:flex;position:relative;z-index:0;">
                        <div style="margin: 2.5px 5px 2.5px 0;width:50%;
                                    font-family: 'freshman';">
                            <a href="/products?product_category=1" style="position:relative">
                                <img src="{% static 'images/home/half_sleeve.jpg' %}" class="sample-image">
                            </a>
                            <div style="color: white;position:absolute;bottom: 20px;left: 20px;font-size:24px">
                                   Half Sleeve T-shirts
                            </div>
                        </div>
                        <div style="width:50%;">
                            <div style="position:relative;
                                    font-family: 'freshman';margin: 2.5px 0 2.5px 5px;width:100%;">
                                <a href="/products?product_category=6" style="position:relative">
                                    <img src="{% static 'images/home/phone_case.jpg' %}" class="sample-rect-image">
                                </a>
                                <div style="color: white;position:absolute;bottom: 20px;left: 20px;font-size:24px">
                                    Phone Cases
                                </div>
                            </div>
                            <div style="margin: 5px 0 0 5px;display: flex; width: 100%;">
                                <div style="position:relative;
                                    font-family: 'freshman';margin: 0 5px 0 0;width:100%;">
                                    <a href="/products?product_category=7" style="position:relative">
                                        <img src="{% static 'images/home/pop-mockup.jpg' %}" class="sample-square-image">
                                    </a>
                                    <div style="color: white;position:absolute;bottom: 20px;left: 20px;font-size:24px">
                                        Popup Grips
                                    </div>
                                </div>
                                <div style="position:relative;
                                    font-family: 'freshman';margin: 0 0 0 5px;width:100%;">
                                    <a href="/products?product_category=8" style="position:relative">
                                        <img src="{% static 'images/home/mug.jpg' %}" class="sample-square-image">
                                    </a>
                                    <div style="color: white;position:absolute;bottom: 20px;left: 20px;font-size:24px">
                                        Mugs
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width:100%;display:flex;">
                        <div style="width:50%;">
                            <div style="margin: 5px 5px 0 0;width:100%;position:relative;
                                    font-family: 'freshman';">
                                <a href="/products?product_category=2" style="position:relative">
                                    <img src="{% static 'images/home/full_sleeve_tshirt.jpg' %}" class="sample-rect-image">
                                </a>
                                <div style="color: white;position:absolute;bottom: 20px;left: 20px;font-size:24px">
                                    Full Sleeve T-shirts
                                </div>
                            </div>
                            <div style="margin: 5px 5px 0 0;display: flex; width: 100%;">
                                <div style="margin:0 5px 0 0;width:100%;position:relative;
                                    font-family: 'freshman';">
                                    <a href="/products?product_category=5" style="position:relative">
                                        <img src="{% static 'images/home/crop_top.jpg' %}" class="sample-square-image">
                                    </a>
                                     <div style="color: white;position:absolute;bottom: 20px;left: 20px;font-size:24px">
                                        Crop Tops
                                     </div>
                                </div>
                                <div style="margin: 0 0 0 5px;width:100%;">
                                    <div class="sample-square-image" style="position:relative;
                                    font-family: 'freshman';background: #d3d3d3;">
                                        <div style="color: white;position:absolute;bottom: 20px;left: 20px;font-size:24px">
                                                Coming soon..
                                        </div>
                                    </div>
<!--                                    <img src="{% static 'images/sample-rect.png' %}"class="sample-square-image" >-->
                                </div>
                            </div>
                        </div>
                        <div style="margin: 2.5px 0 0 10px;width:50%;position:relative;font-family: 'freshman';">
                            <a href="/products?product_category=3">
                                <img src="{% static 'images/home/hoodie.jpg' %}" class="sample-image">
                            </a>
                            <div style="color: white;position:absolute;bottom: 20px;left: 20px;font-size:24px">
                                    Hoodies
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</html>