{% extends 'global/header.html' %}
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FanKrate</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_view.css' %}">
    <script>
    function selectColor(id) {
      var element, class_name, arr, already_selected;
      element = document.getElementById(id);
      var color = id.split("-")[0];
      already_selected = document.querySelector(".selected-color");
      if (already_selected !== null){
        already_selected.classList.remove('selected-color');
      }
      class_name = "selected-color";
      arr = element.className.split(" ");
      if (arr.indexOf(class_name) == -1) {
        element.className += " " + class_name;
      }
      var selected_color_hidden = document.getElementById('add_to_cart__color');
      var selected_color = document.getElementById('selected-color');
      selected_color_hidden.value = color;
      selected_color.innerHTML = color;
    }

    function selectSize(id) {
      var element, class_name, arr, already_selected;
      element = document.getElementById(id);
      already_selected = document.querySelector(".selected-size");
      if (already_selected !== null){
        already_selected.classList.remove('selected-size');
      }
      class_name = "selected-size";
      arr = element.className.split(" ");
      if (arr.indexOf(class_name) == -1) {
        element.className += " " + class_name;
      }
      var selected_size_hidden = document.getElementById('add_to_cart__size');
      var selected_size = document.getElementById('selected-size');
      selected_size.innerHTML = id;
      selected_size_hidden.value = id;
    }
    </script>
        <div class="page-container">
            <div class="box" style="display:flex;width:80%;min-height: 30rem;">
                <div style="width: 60%;display:flex;margin-right:40px;">
                        <div style="margin-right:5px;display:block;width: 140px;">
                            {% for image_link in images %}
                                <img src="{% static image_link %}" class="button-image">
                            {% endfor %}
                        </div>
                    <div style="width: 500px;height:500px;overflow:hidden;">
                        <img src="{% static main_image %}" class="product-view-image">
                    </div>
                </div>
                <div style="width: 50%;position:relative;">
                    <div style="width:100%;color: #58595b;font-size: 1.8rem; display:flex;">
                        <div style="width: 40%; text-align: left;">
                            <b>{{product.name}}</b>
                        </div>
                        <div style="width: 50%; text-align: right;">
                            Rs. {{product.selling_price}}
                        </div>
                    </div>
                    <div style="display:flex; width: 100%;">
                        <div style="width: 50%;color: #939598;">
                            {{category}}
                        </div>

                    </div>
                    <div style="margin-top: 20px;">
                        <div>
                            <div>
                                <b>
                                    Colours
                                </b>
                            </div>
                            <div style="margin-top: 10px;">
                                {% for item in product.csq %}
                                    <button onclick="selectColor(this.id)" id="{{item.color}}-{{forloop.counter0}}"
                                            title = "{{item.color}}" style="outline: none;border:none;cursor:pointer;
                                    width: 40px; height: 40px;background-color: {{item.color_code}};margin: 0 5px;">
                                    </button>
                                {% endfor %}
                            </div>
                        </div>
                        <div style="margin-top: 20px;">
                            <div>
                                <b>
                                    Size
                                </b>
                            </div>
                            <div style="margin-top: 10px;">
                                {% for item in product.csq.0.sqs %}
                                    <button onclick="selectSize(this.id)" id="{{item.size}}" title = "{{item.size}}"
                                            style="color:#353b48;cursor:pointer;background: white;outline:none;
                                            border: 2px solid #273c75;min-width: 40px; min-height: 40px;font-size:16px">
                                        <b>
                                            {{item.size}}
                                        </b>
                                    </button>&nbsp;
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                    <div style="margin-top: 10px;font-weight: bold;cursor:pointer;">
                        <a style="color:#27ae60" href="/size_chart" target="_blank">Size Chart</a>
                    </div>
                    <div style="margin-top: 20px;">
                        <div >
                            <form action="{{ request.get_full_path }}" method="POST" class="form add_to_cart">
                            {% csrf_token %}
                                <input hidden class="input-field" id="add_to_cart__color" name="color" required
                                     />
                                <input hidden class="input-field" id="add_to_cart__size" name="size" required
                                     />
                                Quantity
                                <select style="width: 80px;margin-left:20px;font-size: 16px;background: white;
                                padding: 5px;" id="add_to_cart__quantity" name="quantity"
                                      required>
                                {% for i in '123456789'|make_list %}
                                    <option value={{ i }}>{{ i }}
                                  {% endfor %}
                                </select>
                                <div style="margin-top: 20px;display:flex;">
                                    <div>
                                        Selected colour:
                                    </div>
                                    <b>
                                        <div id="selected-color" style="margin-left: 10px; font-size: 20px;">

                                        </div>
                                    </b>
                                </div>
                                <div style="margin-top: 20px;display:flex;">
                                    <div>Selected size:</div>
                                    <b>
                                        <div id="selected-size" style="margin-left: 10px; font-size: 20px;">

                                        </div>
                                    </b>
                                </div>
                                <div style="bottom: 10px;position: absolute;">
                                    <button class="buy-now" type="submit" >
                                        ADD TO CART
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</html>