{% extends 'global/header.html' %}
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FanKrate</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_view.css' %}">

        <div class="page-container">
            <div class="product-listing">
                <div class="product-layout">
                    {% if products|length < 1 %}
                        <img src="{% static 'images/coming_soon.png' %}" style="width: 90vh;">
                    {% endif %}
                    {% for product in products %}
                        <a href="/view-product?product={{product.id}}">
                            <div class="product-card">
                                <div>
                                    <img src="{% static product.image %}" class="product-image">
                                </div>
                                <div style="width: 350px;">
                                    <div style="display:flex; width: 100%;border-bottom: 1px solid rgba(0,0,0,.13); color: #292b2c;">
                                        <div style="width: 50%;">
                                            <b>{{product.name}}</b>
                                        </div>
                                        <div style="width: 50%; text-align: right;">
                                            <b>Rs. {{product.selling_price}}/-</b>
                                        </div>
                                    </div>
                                    <div style="display:flex; width: 100%;">
                                        <div style="width: 50%;color: #939598;">
                                            {{category}}
                                        </div>
                                        <div style="width: 50%; text-align: right;">
                                            <span style='color:red;text-decoration:line-through'>
                                              <span style='color:black;'>Rs.{{product.price}}/-</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
</html>