{% extends 'global/header.html' %}

{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FanKrate</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">

        <div class="page-container">
            <div class="box">
                <img src="{% static 'images/half_sleeve_round_neck.jpg' %}" class="sample-image">
                <img src="{% static 'images/full_sleeve_round_neck.jpg' %}" class="sample-image">
                <img src="{% static 'images/hoodies.jpg' %}" class="sample-image">
            </div>
        </div>
    {% endblock %}
</html>