{% extends 'global/header.html' %}
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FanKrate</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_view.css' %}">

        <div class="page-container">
            <div class="box">
                    {% for order in orders_array %}
                    <div style="border: 1px solid #ccc;padding:5px;width: 97%;margin: 5px;">
                        <div style="width: 100%; display:flex;font-weight: bold;padding: 10px 10px 5px 10px; border-radius: 10px;">
                            <div style="text-align:left; width: 48%;">
                                Items ({{order.product_details|length}})
                            </div>
                            <div style="text-align:right; width: 50%;">
                                Amount: Rs. {{ order.total_price }}
                            </div>
                        </div>
                        <div style="width: 100%; display:flex;font-weight: bold;padding: 5px 10px; border-radius: 10px;">
                            <div style="text-align:left; width: 48%;">
                                Order Status
                                <div style="color: {% if order.delivery_status == 'Processing'%}#f1c40f{%else%}Green{%endif%};">
                                    {{ order.delivery_status }}
                                </div>
                                <div style="font-weight: normal;margin-top:5px;">
                                    Expected delivery: {{ order.expected_delivery }}
                                </div>
                            </div>
                            <div style="text-align:right; width: 50%;">
                                Payment Status
                                <div style="color: {% if order.payment_status == 'Successful'%}Green{%else%}Red{%endif%};">
                                    {{ order.payment_status }}
                                </div>
                                <div style="font-weight: normal;color: #bbb;font-size: 14px;margin-top:5px;">
                                    Transaction ID: {{ order.transaction_id }}
                                </div>
                                <div style="font-weight: normal;color: #bbb;font-size: 14px;margin-top:5px;">
                                    Order ID: {{ order.order_id }}
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;position:relative;z-index:-1;">
                            <div style="margin:10px 5px 10px 10px;border: 1px solid #eee; border-radius: 5px;width: 70%;padding:10px;">
                                {% for product in order.product_details %}
                                    <div style="display:flex;">
                                        <div>
                                            <img src="{% static product.product_image %}" class="cart-product-image">
                                        </div>
                                        <div style="padding: 10px;display:flex;width:69%;">
                                            <div style="width: 70%;position: relative;">
                                                <b>
                                                    {{product.product}}
                                                </b>
                                                <div style="color: #bbb;">
                                                    {{product.product_category}}
                                                </div>
                                                <div style="display: flex; margin-top: 25px;">
                                                    <div style="margin-right: 20px;">
                                                        Size: {{product.size }}
                                                    </div>
                                                    <div style="margin-right: 20px;">
                                                        Qty: {{product.quantity }}
                                                    </div>
                                                    <div style="margin-right: 20px;">
                                                        Colour: {{product.color }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="width: 50%;text-align:right;">
                                                <b>
                                                    Rs. {{product.price}}
                                                </b>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div style="position:relative;margin:10px 10px 10px 5px;border: 1px dashed #ccc;padding:10px;">
                                <div style="font-size:16px;color: #a7a9ac;margin: 0 0 10px 0;">
                                    <b>SHIPPING TO</b>
                                </div>
                                {{ order.address }}<br>
                                {{ order.pincode }}<br>
                                {{ order.mobile }}
                                <div style="bottom: 10px;position:absolute;">
                                    <a href="">
                                        <button style="cursor:pointer;background: white;border:1px solid #ccc;
                                        padding: 10px;border-radius: 10px;font-size: 11px;width: 100px;" type="submit" >TRACK</button>
                                    </a>
                                </div>
                                <div style="bottom: 20px;position:absolute;right: 20px;">
                                        Tracking ID: {{order.tracking_id}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    {% endblock %}
</html>