@import url('https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
*{
    margin: 0;
    overflow-x:hidden;
}
a{
    text-decoration: none;
    color: #000000;
}
html{
    overflow-x:hidden;
}
body{
    font-family: 'Libre Franklin', sans-serif;
    overflow-x:hidden;
    min-height: 100vh;
}
.link{
    text-decoration: none;
    color: #000000;
    margin: 12.5px;
}
.link:hover{
    text-decoration: underline;
}
.global-header{
    overflow:hidden;
    background: white;
    padding: 10px;
    display: flex;
    z-index: 999;
    vertical-align: middle;
}
.global-footer{
   width: 100%;
   background: #f8f8f8;
   margin-top: 42px;
}
.header-logo{
    width: 55px;
    height: auto;
    outline: none;
}
.header-nav{
  height: auto;
  position: absolute;
  right: 0px;
  top: 50%;
  -ms-transform: translateY(50%);
  transform: translateY(-50%);
}
.cart-icon{
    width: 30px;
    height: auto;
    margin: 0;
    position: absolute;
    right: 90px;
    margin-left: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
}