.cart-title{
    font-size: 36px;
    font-family: 'Bangers', cursive;
    width: 85%;
    text-align: center;
}
.cart-item{
    width: 50%;
    padding: 5px;
    margin: 10px 0;
}
.items-table{
    margin-top: 20px;
    width: 100%;
    padding-right: 20px
    border-collapse: collapse;
    border-radius: 20px;
}
th{
    text-align: left;
    background: #fff;
    color: #212121;
}
td{
    position: relative;
}
tr:nth-child(2n+2){
    background-color: #fff;
}
.items-table th,td{
    padding: 10px;
}
.cart-image{
    width: 50px;
}
.item-name{
    top: 50%;
}
.items-card{
    padding: 15px;
    background: white;
    height: 400px;
    border: 1px solid #212121;
}
.address-card{
    padding: 15px;
    background: white;
    border-radius: 30px;
    height: 500px;
    border: 1px solid #212121;
    width: 50%;
    overflow: auto;
}

.items-card::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.items-card::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.items-card::-webkit-scrollbar-thumb {
  background: #34495e;
}

/* Handle on hover */
.items-card::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cart-container{
    width: 90%;
    justify-content: space-between;
    display: flex;
    height: auto;
    margin-top: 20px;
}
.address-heading{
    color: #2c3e50;
    width:100%;
    font-size: 36px;
    font-family: 'Bangers', cursive;
    text-align: left;
    text-decoration:underline;
}
.address-field{
    padding: 8px;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    outline: none;
    width: 80%;
}
.form__field{
    margin: 8px 0 !important;
}
.options{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.total-div{
    display:flex;
    margin-bottom: 10px;
    padding: 15px;
    background: white;
    height: 50px;
    border: 1px solid #212121;
}

.cart-product-image{
    width: 200px;
}