@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
.partner-header{
    background: #2c3e50;
    width: 100px;
    float: left;
    position: fixed;
    height: 100%;
}
.partner-header-nav{
    height: 100%;
    text-align: center;
    position: relative;
    margin-top: 40px;
}
body{
    margin: 0;
    rgba(var(--sk_foreground_min_solid,248,248,248),1)
}
.partner-body{
    height: 100vh;
    border-radius: 30px 0 0 0px;
}
.partner-nav-image{
    width: 25px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 5px 4px rgba(4, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
}
.partner-nav-links{
    display: inline-grid;
    position: absolute;
    top: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: translateX(-50%);
}
.partner-nav-button{
    margin-bottom:10px;
}
.partner-nav-image:hover{
    box-shadow: 0 5px 20px rgba(2, 0, 0, 0.3);
}
.partner-page{
    padding: 20px;
    background: #ffffff;
}
.overall-card{
    //background: #16a085;
    font-family: 'Quicksand', sans-serif;
    color: #212121;
    position: relative;
    height: 360px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 50%;
}
.amount-card{
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 20px;
    background: #fff;
    height: 360px;
    width: 45%;
}
.partner-cards-1, .partner-cards-2{
    display: flex;
}
.second-cards{
    background: #fff;
    text-align:center;
    justify-content:center;
    height: 260px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    width: 30.5%;
}
.partner-name{
    padding: 30px;
    display: flex;
    padding-bottom: 0px;
    font-size: 32px;
}
.ranking{
    padding: 20px;
    text-align: center;
}
.rank-number{
    font-size: 30px;
}
.rank-text{
    font-size: 20px;
    color: #f1c40f;
}
#chart,#chart-1{
}
.partner-logo{
    width: 80px;
}