.center-div{
    width: 100%;
}
.login-card{
    width: 400px;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: auto;
    background: white;
    border: 2px solid #e1e1e1;
    border-radius: 20px;
}
.login-card-title{
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
    font-family: 'Bangers', cursive;
}
.card-fields{
    margin-top: 20px;
}
.card-fields p{
    text-align: left;
    padding: 2px 40px;
}
.card-fields a{
    color: #40407a;
}
.form__field{
    padding: 5px;
}
.input-field{
    padding: 8px;
    width: 80%;
    font-family: 'Libre Franklin', sans-serif;
    outline: none;
    font-size: 16px;
}
.button-div{
    margin-top: 30px;
    margin-bottom: 30px;
}