{% extends 'global/header.html' %}
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FanKrate</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/product_view.css' %}">

        <div class="page-container">
            <div class="box">
                <div class="product-layout">

                    <a href="/view-product">
                        <div class="product-card">
                            <div>
                                <img src="{% static 'images/sample.png' %}" class="product-image">
                            </div>
                            <div style="width: 300px;">
                                <div style="border-bottom: 1px solid rgba(0,0,0,.13); color: #292b2c;">
                                    <b>T-shirt Name</b>
                                </div>
                                <div style="display:flex; width: 100%;">
                                    <div style="width: 50%;color: #939598;">
                                        Category
                                    </div>
                                    <div style="width: 50%; text-align: right;">
                                        Rs. 399/-
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
</html>