{% extends 'global/header.html' %}
{% load staticfiles %}
<html lang="en">

{% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/orders.css' %}">
    <div class="page-container">
        <form action="{{ request.get_full_path }}" method="POST" class="form add_product">
                {% csrf_token %}

                <div class="form__field">
                  <input autocomplete="off" class="input-field" id="add_product__name" type="text" name="name"
                         placeholder="Name" required>
                </div>

                <div class="form__field">
                  <textarea autocomplete="off" class="input-field" id="add_product__description" name="description"
                         placeholder="Description" required>

                  </textarea>
                </div>

                <div class="form__field">
                  <input autocomplete="off" class="input-field" id="add_product__images" type="text" name="images"
                         placeholder="images" required>
                </div>

                <div class="form__field">
                  <input autocomplete="off" class="input-field" id="add_product__csq" type="text" name="csq"
                         placeholder="Color, size and quantities Json" required>
                 </div>

                <div class="form__field">
                  <input autocomplete="off" class="input-field" id="add_product__price" type="text" name="price"
                         placeholder="Price" required>
                </div>

                <div class="form__field">
                  <input autocomplete="off" onkeyup="profitCalc()" class="input-field" id="add_product__selling_price" type="text" name="selling_price"
                         placeholder="Selling price" required>
                </div>

                <div class="form__field">
                  <input autocomplete="off" onkeyup="profitCalc()" class="input-field" id="add_product__actual_price" type="text" name="actual_price"
                         placeholder="Actual price" required>
                </div>

                <div class="form__field">
                  <input value="false" class="input-field" id="add_product__is_cod_available" type="checkbox" name="is_cod_available">
                    Is COD available?
                    </input>
                </div>

                <div class="form__field">
                  <input value="false" class="input-field" id="add_product__is_deleted" type="checkbox" name="is_deleted">
                    Is deleted?
                    </input>
                </div>

                <div class="form__field">
                  <input value="false" class="input-field" id="add_product__in_stock" type="checkbox" name="in_stock">
                    In stock?
                    </input>
                </div>

                <div class="form__field">
                  <input value="false" class="input-field" id="add_product__is_dropship_product" type="checkbox" name="is_dropship_product">
                    Is dropship product?
                    </input>
                </div>

                <div class="form__field">
                  <input autocomplete="off" class="input-field" id="add_product__design_sku" type="text" name="design_sku"
                         placeholder="Design SKU">
                </div>

                <div class="form__field">
                  <input autocomplete="off" class="input-field" id="add_product__phone_model" type="text" name="phone_model"
                         placeholder="Phone Model">
                </div>

                <div class="form__field">
                  <select class="input-field" id="add_product__product_category" name="product_category"
                          required>
                      {% for product_category in product_categories %}
                        <option value={{ product_category.id }}>{{ product_category.category }}
                      {% endfor %}
                  </select>
                </div>

                 <div class="form__field">
                    <button class="buy-now" type="submit" value="Submit">Add product</button>
                 </div>
        </form>
    </div>
{% endblock %}

</html>