{% extends 'global/header.html' %}
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FanKrate</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">

        <div class="page-container">
            <div class="box" style="display: flex;">
                <div style="width: 100%;margin-top: 80px;">
                    Products list
                </div>
                <div style="right: 80px;position:fixed">
                    <a href="add_product">
                        <button class="buy-now" type="submit" value="Sign In">Add product</button>
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}
</html>