{% extends 'global/header.html' %}
{% load staticfiles %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>FanKrate - Login</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">

        <div class="page-container">
            <div class="center-div">
                <div class="login-card">
                    <div class="login-card-title">
                        Login
                    </div>
                     {% if msg %}
                        <div class="alert alert-danger" style="margin-top: 10px;width:100%;font-weight: 700;
                        color:white;background:red;">
                          <h4 class="text-danger text-center">{{msg }}</h4>
                        </div>
                    {% endif %}
                    <div class="card-fields">
                        <form action="{{ request.get_full_path }}" method="POST" class="form login">
                            {% csrf_token %}
                            <div class="form__field">
                              <input autocomplete="off" class="input-field" id="login__mobile" type="text" name="mobile"
                                     placeholder="Mobile" required>
                            </div>
                            <div class="form__field">
                              <input autocomplete="off" class="input-field" id="login__password" type="password"
                                     name="password" placeholder="Password" required>
                            </div>
<!--                            <p style="margin-top: 10px;">-->
<!--                                <a href="/">-->
<!--                                    Forgot password?-->
<!--                                </a>-->
<!--                            </p>-->
                            <p>
                                New to FanKrate?
                                <a href="/signup">
                                    Sign up here
                                </a>
                            </p>
                            <div class="form__field button-div">
                                <button class="buy-now" type="submit" value="Sign In">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</html>