{% extends 'global/header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">

        <div class="page-container">
            <div class="center-div">
                <div class="login-card">
                    <div class="login-card-title">
                        Verify Mobile
                    </div>
                    {% if msg %}
                            <div class="alert alert-danger" style="margin-top: 10px;width:100%;font-weight: 700;
                            color:white;background:red;">
                            <h4 class="text-danger text-center">{{msg }}</h4>
                            </div>
                    {% endif %}
                    <div class="card-fields">
                        <form action='{% url "otp_verify" %}' method="POST" class="form login">
                            {% csrf_token %}

                            <div class="form__field">
                                <input autocomplete="off" class="input-field" id="login__otp" type="text" name="otp"
                                       placeholder="OTP" required>
                            </div>
                            <p>
                                Haven't received OTP? <a href="/resend_otp">Resend OTP</a>
                            </p>

                            <div class="form__field button-div">
                                <button class="buy-now" type="submit" value="Sign Up">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</html>