{% extends 'global/header.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    {% block body_block %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">

        <div class="page-container">
            <div class="center-div">
                <div class="login-card">
                    <div class="login-card-title">
                        Sign up
                    </div>
                    {% if msg %}
                        <div class="alert alert-danger" style="margin-top: 10px;width:100%;font-weight: 700;
                        color:white;background:red;">
                          <h4 class="text-danger text-center">{{msg }}</h4>
                        </div>
                    {% endif %}
                    <div class="card-fields">
                        <form action='{% url "save_user" %}' method="POST" class="form login">
                            {% csrf_token %}

                            <div class="form__field">
                              <input autocomplete="off" class="input-field" id="login__name" type="text" name="name"
                                     placeholder="Name" required>
                            </div>

                            <div class="form__field">
                              <input autocomplete="off" class="input-field" id="login__mobile" type="mobile"
                                     name="mobile"
                                     placeholder="Mobile" required>
                            </div>

                            <div class="form__field">
                              <input autocomplete="off" class="input-field" id="login__password" type="password"
                                     name="password"
                                     placeholder="Password" required>
                            </div>

                            <div class="form__field">
                              <input autocomplete="off" class="input-field" id="login__password_again" type="password"
                                     name="password_again" placeholder="Retype Password" required>
                            </div>

                            <p style="margin-top: 10px;">
                                Already have an account?
                                <a href="/login">
                                     Log in
                                </a>
                            </p>

                            <div class="form__field button-div">
                                <button class="buy-now" type="submit" value="Sign Up">SUBMIT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
</html>